.about {
  margin-top: 69px;
  padding-bottom: 40px;
  background-image: url("../img/about-bg.jpg");
  background-position: center 195px;
  background-size: auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.about__title {
  @include title;

  margin-bottom: 8px;
}

.about__desc {
  max-width: 720px;
  margin-bottom: 47px;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  color: $black;
}

.about__video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 870px;
  height: 460px;
  background-image: url("../img/about-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto 40px;
  box-sizing: border-box;
}

.about__video-play-btn {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  &:hover .circle2 {
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
  }

  &:hover .triangle {
    fill: #63d3fd;
  }

  &:active .circle2 {
    fill: #f4f4f4;
  }

  &:active .triangle {
    fill: #1fc0fc;
  }
}

@media (max-width: 1200px) {
  .about__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .about__title {
    font-size: 32px;
    line-height: 39px;
  }

  .about__video-wrapper {
    width: 100%;
    padding: 0 15px;
    height: 460px;
    background-image: url("../img/about-photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: $mobile) {
  .about {
    margin-top: 9px;
    background-image: url("../img/about-bg.jpg");
    background-position: center 230px;
    background-size: 128%;
    background-repeat: no-repeat;
  }

  .about__wrapper {
    margin: 0 auto;
    padding: 0 15px;
  }

  .about__title {
    @include title-mobile;

    margin-bottom: 8px;
  }

  .about__desc {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 49px;
  }

  .about__video-wrapper {
    width: 100%;
    height: 224px;
    padding: 0;
    background-image: url("../img/about-photo-mobile.png");
  }

  .about__video-btn-icon {
    width: 80px;
    height: 80px;
    margin-top: 20px;
  }

  .br-hide-mobile {
    display: none;
  }
}
