.call-to-action {
  padding: 15px 0;
  box-sizing: border-box;
}

.call-to-action__wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  box-sizing: border-box;
}

.call-to-action__inner-wrapper {
  max-width: 340px;
  box-sizing: border-box;
}

.call-to-action__title {
  margin-top: 21px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: $black;
  opacity: 0.87;
}

.call-to-action__desc {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: $black;
  opacity: 0.5;
}

.call-to-action__fieldset {
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.call-to-action__form-item {
  margin: 0;
  padding: 0;
  width: auto;
  box-sizing: border-box;
}

.call-to-action__form-item input {
  width: 250px;
  margin-right: 24px;
  padding: 20px 40px 20px 40px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba($color: $black, $alpha: 0.87);
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  box-sizing: border-box;
  outline: none;
  transition: border ease 0.3s;

  &::placeholder {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba($color: $black, $alpha: 0.5);
  }
}

.call-to-action__form-item .visually-hidden:active {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.call-to-action__form-item input:hover,
.call-to-action__form-item input:focus {
  border: 2px solid $yellow;
}

.call-to-action__btn-submit {
  @include btn;

  outline: none;

  &:hover,
  &:focus {
    @include btn-hover;
  }

  &:active {
    @include btn-active;
  }
}

@media (max-width: 1200px) {
  .call-to-action__wrapper {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .call-to-action__inner-wrapper {
    width: 100%;
    text-align: center;
  }

  .call-to-action__form-item {
    width: 100%;
  }

  .call-to-action__form-item input {
    width: 100%;
    padding-right: 20px;
  }
}

@media (max-width: $mobile) {
  .call-to-action {
    padding: 20px 0;
  }

  .call-to-action__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .call-to-action__title {
    margin-top: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    text-align: left;
    opacity: 0.87;
  }

  .call-to-action__desc {
    text-align: left;
    margin-bottom: 18px;
  }

  .call-to-action__fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .call-to-action__form-item input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .call-to-action__btn-submit {
    @include btn;

    margin-top: 8px;
    margin-left: 0;
    padding: 20px 62px;
  }
}
