.contacts {
  padding: 65px 0 0;
  margin-bottom: -60px;
  background: url("../img/contacts-bg.jpg") center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.contacts__wrapper {
  position: relative;
  width: 1176px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.contacts__title {
  @include title;
  text-align: left;
  margin-top: 37px;
  margin-bottom: 50px;
}

.contacts__inner-wrapper {
  display: flex;
  box-sizing: border-box;
}

.contacts__data {
  width: 50%;
}

.contacts__city {
  display: flex;
  margin-bottom: 19px;
}

.contacts__city-label {
  position: relative;
  margin: 0;
  padding: 0 17px 0 22px;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: $black;
  opacity: 0.74;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 15px;
    height: 15px;
    background: url("../img/icon-marker.png") left center no-repeat;
  }
}

.contacts__selected-city {
  position: relative;
  margin: 0;
  padding: 0 20px 0 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: $black;
  border-bottom: 1px dashed $blue;
  opacity: 0.74;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    right: -7px;
    width: 15px;
    height: 15px;
    background: url("../img/icon-gps.png") right center no-repeat;
  }
}

.contacts__curator-wrapper {
  display: flex;
  box-sizing: border-box;
}

.contacts__curator-img {
  width: 112px;
  height: 112px;
  margin-top: 18px;
}

.contacts__curator-info {
  margin-left: 24px;
  box-sizing: border-box;
}

.contacts__curator-name {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 150%;
  color: $black;
  opacity: 0.74;
}

.contacts__curator-label {
  padding-right: 5px;
  color: $blue;
}

.contacts__address {
  width: 264px;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: $black;
  opacity: 0.74;
}

.contacts__desc {
  max-width: 490px;
  margin-top: 25px;
  font-size: 17px;
  line-height: 29px;
  color: $black;
  opacity: 0.87;
}

.contacts__map {
  position: absolute;
  width: 702px;
  height: 448px;
  top: 6px;
  right: -95px;
  background: url("../img/map-bg.png") center no-repeat;
}

@media (max-width: 1200px) {
  .contacts__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .contacts__inner-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .contacts__data {
    width: 100%;
  }

  .contacts__map {
    position: static;
    width: 100%;
    background: url("../img/map-bg-mobile.png") center no-repeat;
    background-position: -15px 24px;
  }

  .contacts__title {
    @include title-mobile;
  }
}

@media (max-width: $mobile) {
  .contacts {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
    background: url("../img/contacts-bg.jpg") center no-repeat;
  }

  .contacts__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .contacts__curator-wrapper {
    flex-direction: column;
  }

  .contacts__title {
    @include title-mobile;

    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .contacts__city {
    margin-bottom: 20px;
  }

  .contacts__curator-img {
    margin-top: 18px;
    margin-left: 1px;
  }

  .contacts__curator-info {
    margin-left: 0;
  }

  .contacts__curator-name {
    margin-top: 17px;
  }

  .contacts__address {
    width: 100%;
  }

  .contacts__desc {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.87;
  }

  .contacts__map {
    position: static;
    width: 100%;
  }
}
