.faq {
  position: relative;
  margin: 0 0;
  padding: 50px 0 110px;
  background: url("../img/faq-bg.jpg") center top no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.faq__wrapper {
  position: relative;
  width: 1176px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    bottom: -119px;
    left: -136px;
    width: 194px;
    height: 177px;
    background: url("../img/bag-bg.png") left bottom no-repeat;
  }
}

.faq__inner-wrapper {
  position: relative;
  width: 560px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -696px;
    width: 645px;
    height: 803px;
    background: url("../img/faq-photo.png") right center no-repeat;
  }
}

.faq__title {
  @include title;

  text-align: left;
  margin-top: 32px;
  margin-bottom: 30px;
}

.faq__list {
  @include list-reset;

  box-sizing: border-box;
  counter-reset: faqlist;
}

.faq__item {
  position: relative;
  margin: 20px 0 19px;
  padding: 0 30px 11px 0;
  border-bottom: 1px solid rgba($black, 0.2);
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: 2px;
    left: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 170%;
    color: $yellow;

    counter-increment: faqlist;
    content: counter(faqlist);
  }

  &--5 {
    padding-bottom: 0;

    & .faq__accordion-btn {
      padding: 17px 60px 22px 29px;
    }
  }

  &--6 {
    padding-bottom: 5px;
  }
}

.faq__accordion-btn {
  position: relative;
  width: 100%;
  padding: 17px 40px 22px 29px;
  text-align: left;
  font-size: 17px;
  line-height: 150%;
  color: $black;
  background: none;
  border: none;
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;


  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url("../img/icon-chevron.svg") center no-repeat;
    transition: transform ease 0.3s;
  }
}

.faq__accordion-content--active::before {
  transform: rotateX(180deg);
  transition: transform ease 0.3s;
}

.faq__accordion-btn:hover,
.faq__accordion-btn:focus {
  color: $yellow;
  outline: none;
}

.faq__accordion-content {
  padding: 0 2px;
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq__accordion-desc {
  margin-top: 3px;
  margin-bottom: 21px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: rgba($color: $black, $alpha: 0.74);
}


@media (max-width: 1200px) {
  .faq {
    margin: 0;
    padding-bottom: 0;
    background: none;
  }

  .faq__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    background: none;

    &::before {
      bottom: 98px;
      left: -48px;
    }

    &::after {
      display: none;
    }
  }

  .faq__inner-wrapper {
    width: 100%;

    &::before {
      display: none;
    }
  }

  .faq__title {
    font-size: 32px;
    line-height: 39px;
  }

  .faq__item {
    position: relative;
    margin: 20px 0;
    padding: 0;

    &::before {
      left: 1px;
    }

    &--2 {
      & .faq__accordion-btn {
        padding-top: 18px;
        padding-bottom: 23px;
      }
    }

    &--3 {
      margin: 19px 0 18px;

      & .faq__accordion-btn {
        padding-top: 19px;
        padding-bottom: 8px;
      }
    }

    &--4 {
      padding-top: 0;
      padding-bottom: 6px;

      & .faq__accordion-btn {
        padding-top: 18px;
      }
    }

    &--5 {
      padding-top: 1px;
      padding-bottom: 5px;

      & .faq__accordion-btn {
        padding-top: 17px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 26px;
      }
    }
  }

  .faq__accordion-btn {
    position: relative;
    background: none;
    color: $black;
    cursor: pointer;
    padding: 18px 26px;
    width: 100%;
    border: none;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    transition: 0.3s;


    &::before {
      content: "";
      position: absolute;
      top: 23px;
      right: -1px;
      width: 20px;
      height: 20px;
      background: url("../img/icon-chevron.svg") center no-repeat;
      transition: transform ease 0.3s;
    }
  }

  .faq__accordion-desc {
    margin-top: 11px;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 160%;
    color: $black;
    opacity: 0.74;
  }
}

@media (max-width: $mobile) {
  .faq {
    padding-bottom: 0;
  }

  .faq__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    background: none;
  }

  .faq__inner-wrapper {
    width: 100%;
  }

  .faq__title {
    @include title-mobile;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 10px;
  }
}
