.footer {
  margin-top: 45px;
  padding: 26px 0 26px;
  border-top: 1px solid rgba($black, 0.2);
}

.footer__wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}

.footer__logo-img {
  margin-top: -2px;
  margin-left: -3px;
  width: 85px;
  height: 27px;
}

.footer__copyright {
  margin-top: 2px;
  margin-left: 18px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: $black;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .footer__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}


@media (max-width: $mobile) {

  .footer {
    margin-top: 29px;
    padding: 20px 0;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .footer__logo {
    width: 99px;
    height: 31px;
    margin-top: 0px;
    margin-bottom: 19px;
    margin-left: 25px;
  }

  .footer__copyright {
    margin-left: 1px;
    margin-bottom: 27px;
  }

}
