.header {
  margin-bottom: -112px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1170px;
  margin: 0 auto;
  padding: 25px 12px;
}

.header__phone {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  text-decoration: none;
  transition: color ease .3s;
  margin-top: 23px;

  &:hover,
  &:focus {
    color: $yellow;
  }
}

.header__logo {
  margin: 6px 0 0 -22px;
}

.header__callback {
  margin: 23px 5px 0px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

    letter-spacing: -0.2px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dashed $black;
  transition: color ease .3s,
    border-bottom ease .3s;

  &:hover,
  &:focus {
    color: $yellow;
    border-bottom: 1px dashed $yellow;
  }
}

.header__logo-img {
  width: 137px;
  height: 48px;
}

.header__title {
  align-self: center;
  max-width: 700px;
  margin-top: 600px;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
  color: $white;
  text-align: center;
}

.header__title {
  max-width: 345px;
  margin-top: 458px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 29px;
}

.header__btn {
  position: relative;
  align-self: center;
  width: 54px;
  height: 54px;
  padding: 0;
  margin: 0 0 100px 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  border: 1px solid $white;

  &:before {
    content: "";
    position: absolute;
    top: -14px;
    left: -14px;
    width: 78px;
    height: 78px;
    border-radius: 80px;
    border: 1px dashed $white;
  }

  &:after {
    content: "";
    position: absolute;
    top: 65px;
    left: 26px;
    width: 1px;
    height: 55px;
    background-color: $white;
  }
}

.header__btn-icon {
  width: 17px;
  height: 26px;
}

// @media (max-width: 1366px) {
//   .header {
//     background-position: center top;
//   }

//   .header__title {
//     max-width: 345px;
//     margin-top: 458px;
//     margin-bottom: 32px;
//     font-size: 24px;
//     line-height: 29px;
//   }
// }

@media (max-width: 1200px) {
  .header__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__title {
    max-width: 345px;
    margin-top: 358px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
  }
}


@media (max-width: $mobile) {

  .header {
    margin-bottom: -50px;
  }

  .header__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
  }

  .header__logo {
    flex-basis: 40%;
    order: 10;
    margin: 10px 0 0 6px;
  }

  .header__logo-img {
    width: 120px;
    height: 42px;
  }

  .header__phone {
    flex-basis: 50%;
    order: 20;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    margin: 10px -2px 0px 0;
  }

  .header__callback {
    order: 30;
    font-size: 13px;
    line-height: 17px;
    margin: -24px 0 0 auto;
  }

  .header__title {
    max-width: 300px;
    font-size: 20px;
    line-height: 24px;
  }
}
