.masaisraerl {
  margin-top: 150px;
  padding: 100px 0 200px;
  background: url("../../img/masaisrael-bg.jpg") center bottom no-repeat;
  background-size: cover;
  background-position: 4px -7px;
}

.masaisraerl__wrapper {
  width: 1056px;
  margin: 0 auto;
  padding: 0 15px;
}

.masaisraerl__inner-wrapper {
  width: 400px;
  margin-left: auto;
}

.masaisraerl__title {
  @include title;
  text-align: left;

  margin-top: 13px;
  margin-bottom: 26px;
}

.masaisraerl__descr {
  margin-top: 18px;
  margin-bottom: 49px;
  padding-left: 3px;
  font-size: 17px;
  line-height: 170%;
  letter-spacing: 0.1px;
  color: $white;
  opacity: 0.87;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.masaisraerl__btn {
  @include btn;

  position: relative;
  padding: 20px 40px 19px 72px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 42px;
    width: 20px;
    height: 20px;
    background: url("../../img/icon-instagram.svg") center no-repeat;
  }

  &:hover,
  &:focus {
    @include btn-hover;

    padding-left: 60px;
  }

  &:active {
    @include btn-active;

    padding-left: 60px;
  }
}

@media (max-width: 1200px) {
  .masaisraerl {
    background-image: url("../../img/masaisrael-bg-mobile.jpg");
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 50px;
    margin-top: 50px;
    padding: 50px 0;
  }

  .masaisraerl__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .masaisraerl__inner-wrapper {
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .masaisraerl__title {
    max-width: 345px;
    margin-top: -80px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
  }

  .masaisraerl__descr {
    font-size: 16px;
    line-height: 160%;
  }
}


@media (max-width: $mobile) {

  .masaisraerl {
    background-image: url("../../img/masaisrael-bg-mobile.jpg");
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 0;
    margin-top: 150px;
  }

  .masaisraerl__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .masaisraerl__title {
    @include title-mobile;

    margin-top: -115px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 49px;
  }

  .masaisraerl__descr {
    padding: 80px 0 11px 8px;
  }

  .masaisraerl__btn {
    margin-bottom: -90px;
    text-align: center;
    padding: 20px 56px 19px 90px;

    &::before {
      left: 59px;
    }
  }
}
