.programms {
  margin-top: 100px;
  background-image: url("../../img/sketch_Bg.jpg");
  background-position: right top;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.programms__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.programms__title {
  @include title;
}


.programms__tabs {
  display: flex;
  justify-content: space-between;
}

.programms__tabs-btn-wrapper {
  width: 300px;
}

.programms__tabs-content {
  width: 600px;
}

.programms__tabs-btn {
  position: relative;
  display: block;
  background: transparent url(../../img/icon-star-b.png) 20px center no-repeat;
  color: $black;
  padding: 25px 41px 25px 72px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: background-image ease .3s,
    color ease .3s;

  &--academ {
    background: url(../../img/icon-hat-b.png) 20px center no-repeat;
  }

  &--pract {
    background: url(../../img/icon-case-b.png) 20px center no-repeat;
  }

  &--volunteer {
    background: url(../../img/icon-volunteer-b.png) 20px center no-repeat;
  }

  &--religion {
    background: url(../../img/icon-religion-b.png) 20px center no-repeat;
  }
}

.programms__tabs-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $blue;
}

.programms__tabs-descr {
  font-size: 15px;
  line-height: 170%;
  color: $black;
}

.programms__tabs-btn:hover,
.programms__tabs-btn:focus {
  color: $yellow;
}

.programms__tabs-btn--comon:hover,
.programms__tabs-btn--comon:focus {
  background: transparent url(../../img/icon-star-g.png) 20px center no-repeat;
}

.programms__tabs-btn--academ:hover,
.programms__tabs-btn--academ:focus {
  background: url(../../img/icon-hat-g.png) 20px center no-repeat;
}

.programms__tabs-btn--pract:hover,
.programms__tabs-btn--pract:focus {
  background: url(../../img/icon-case-g.png) 20px center no-repeat;
}

.programms__tabs-btn--volunteer:hover,
.programms__tabs-btn--volunteer:focus {
  background: url(../../img/icon-volunteer-g.png) 20px center no-repeat;
}

.programms__tabs-btn--religion:hover,
.programms__tabs-btn--religion:focus {
  background: url(../../img/icon-religion-g.png) 20px center no-repeat;
}

.programms__tabs-btn.programms__tabs-btn--active {
  color: $white;
  overflow: hidden;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: ;
  //   height: ;
  //   top: 0;
  //   right: 0;
  //   border-top: 35px solid $white;
  //   border-left: 40px solid transparent;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   top: 50%;
  //   right: 0;
  //   border-bottom: 35px solid $white;
	// border-left: 40px solid transparent;
  // }

  &::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: -60px;
    background-color: $white;
    transform: skew(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: -60px;
    background-color: $white;
    transform: skew(-45deg);
  }
}

.programms__tabs-btn--comon.programms__tabs-btn--active {
  color: $white;
  background: url(../../img/icon-star-w.png) 20px center no-repeat,
    $gradient;
}

.programms__tabs-btn--academ.programms__tabs-btn--active {
  color: $white;
  background: url(../../img/icon-hat-w.png) 20px center no-repeat,
    $gradient;
}

.programms__tabs-btn--pract.programms__tabs-btn--active {
  color: $white;
  background: url(../../img/icon-case-w.png) 20px center no-repeat,
    $gradient;
}

.programms__tabs-btn--volunteer.programms__tabs-btn--active {
  color: $white;
  background: url(../../img/icon-volunteer-w.png) 20px center no-repeat,
    $gradient;
}

.programms__tabs-btn--religion.programms__tabs-btn--active {
  color: $white;
  background: url(../../img/icon-religion-w.png) 20px center no-repeat,
    $gradient;
}


.programms__tabs-content {
  margin-left: 50px;
}


@media (max-width: 1366px) {}

@media (max-width: 1200px) {
  .programms__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (max-width: $mobile) {
  .programms__wrapper {
    margin: 0 auto;
    padding: 0 15px;
  }

  .programms__title {
    @include title-mobile;
  }

  .programms__descr {
    font-size: 16px;
    line-height: 160%;
  }

  .br-hide-mobile {
    display: none;
  }

  .programms__tabs {
    flex-direction: column;
  }

  .programms__tabs-btn-wrapper {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .programms__tabs-content {
    width: 100%;
    margin: 0;
  }

  .programms__tabs-btn.programms__tabs-btn--active {
    color: $white;
    overflow: hidden;
    border-radius: 50px;


    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      right: 0;
      background-color: none;
      transform: none;
    }
  }
}
