.socials__list {
  @include list-reset;

  display: flex;
}

.socials__item {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  color: $black;
  opacity: 0.2;
  transition: opacity ease .3s,
    color ease .3s;

  &:hover,
  &:focus {
    opacity: 0.5;
    color: $blue;
  }
}

.socials--testimonials {
  margin-right: 115px;
}

.socials--contacts {
  margin-left: -4px;

  & .socials__item {
    margin-right: 12px;
  }
}

.socials--footer .socials__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $mobile) {
  .socials--footer {
    margin-left: -8px;
  }

  .socials--footer .socials__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .socials--footer .socials__icon {
    width: 32px;
    height: 32px;
  }
}
