.socials__list {
  @include list-reset;

  display: flex;
}

.socials__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  color: $black;
  opacity: 0.2;
  transition: opacity ease .3s,
    color ease .3s;

  &:hover,
  &:focus {
    opacity: 0.5;
    color: $blue;
  }
}
