.to-go {
  padding: 100px 0;
  box-sizing: border-box;
}

.to-go__wrapper {
  position: relative;
  width: 978px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: -209px;
    right: -194px;
    width: 818px;
    height: 594px;
    background: url("../img/girl-flag-bg.jpg") center no-repeat;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: -74px;
    left: -267px;
    width: 220px;
    height: 262px;
    background: url("../img/backpack.jpg") center no-repeat;
    z-index: -1;
  }
}

.to-go__title {
  @include title;
  margin-top: 98px;
  margin-bottom: 25px;
  text-align: left;
}

.to-go__desc {
  max-width: 400px;
  margin-bottom: 64px;
  font-size: 17px;
  line-height: 170%;
  color: $black;
  opacity: 0.87;
}

.to-go__fieldset {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.to-go__form-item {
  margin: 0;
  padding: 0;
  width: auto;
}

.to-go__input-phone {
  width: 322px;
  padding: 18px 80px 18px 39px;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: $black;
    opacity: 0.5;
  }
}

.to-go__btn-submit {
  @include btn;
  position: relative;
  margin-left: -60px;
  padding: 20px 39px;
  outline: none;

  &:hover,
  &:focus {
    @include btn-hover;

    padding: 20px 39px;
  }

  &:active {
    @include btn-active;

    padding: 20px 39px;
  }
}

@media (max-width: 1200px) {
  .to-go__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .to-go__title {
    max-width: 345px;
    margin-top: 358px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: $mobile) {
  .to-go {
    padding: 40px 0;
  }

  .to-go__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;

    &::before {
      content: "";
      position: absolute;
      top: 313px;
      right: -52px;
      width: 424px;
      height: 308px;
      background: url("../img/girl-flag-bg.jpg") center no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -29px;
      left: -54px;
      width: 158px;
      height: 188px;
      background: url("../img/backpack.jpg") center no-repeat;
      background-size: 100%;
      z-index: -1;
    }
  }

  .to-go__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $blue;
    margin-top: 7px;
    margin-bottom: 24px;
  }

  .to-go__desc {
    max-width: 400px;
    margin-bottom: 18px;
  }

  .to-go__fieldset {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .to-go__input-phone {
    width: 100%;
    margin-bottom: 10px;
  }

  .to-go__btn-submit {
    @include btn;

    position: relative;
    margin-left: 0;
    padding: 20px 63px;

    &:hover,
    &:focus {
      padding: 20px 63px;
    }

    &:active {
      padding: 20px 63px;
    }
  }
}
